/* ---- Basic format ---- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
    top: 0;
    bottom: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-dark);
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

img {
  max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: var(--title-color);
}

h2 {
    font-size: 1.7em;
    text-align: center;
    color: var(--title-color);
}

h3 {
    font-size: 1.5em;
    
    padding-left: 25px;    
    padding-right: 25px;

    
    margin-top: 15px;
    margin-bottom: 15px;
    
    text-align: left;
    color: var(--primary-accent-color);
}

h4 {
    font-size: 1.25em;
    
    padding-left: 25px;    
    padding-right: 25px;

    
    margin-top: 20px;
    margin-bottom: 0px;;
    
    text-align: left;
    color: var(--primary-accent-color);
}

p {
    padding-left: 25px;    
    padding-right: 25px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    text-align: justify;
    color: var(--text-color);
    
}

a {
    text-decoration: none;
    cursor: pointer;
    
    color: var(--secondary-accent-color);
    
    transition-duration: 200ms; /*Duration of fading*/
    transition-timing-function: ease-in;
}
a:hover {
    color: var(--primary-accent-color);
    
    transition-duration: 200ms; /*Duration of fading*/
    transition-timing-function: ease-out;
}



/* ---- Columns ---- */
@media only screen and (min-width: 768px) {
    .Columns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .Col-1-3 {
        max-width: 33%; 
        min-width: 15%;
    }

    .Col-2-3 {
        max-width: 66%;
        min-width: 15%;
    }

    .Col-1-2 {
        max-width: 49%;
        min-width: 15%;
    }

    .Col-1-4 {
        max-width: 24%;
        min-width: 15%;
    }
}












/* ---- Presentation ---- */
.Presentation {
    background-color: transparent; 
    height: 100%;
    width: 100%;
    display: table;
}

#canvas.Presentation {
    top: 0;
}

@keyframes SlideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
}
30% {
  opacity: 0;
}
100% {
    transform: translateY(0);
    opacity: 1;
}
}


.PresentationText {
    animation: 1.5s ease 0s 1 SlideFromTop;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    padding: 5%;
}

.PresentationText h1 {
    font-weight: 100;
}

.PresentationText b {
    color: var(--primary-accent-color);
}

@keyframes FadeInOpacity {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
/*Simulation*/
#simCanvas {
    animation: 2s ease 0s 1 FadeInOpacity;
    opacity: 1;
    background-color: var(--background-dark);
}

/*Elements not moving at the background*/
.NotMovingBg{
    position: fixed;
    z-index: -10;
}








/* --- All information-related sections --*/
.InfoSection{
    padding-top: 20px;
    margin: 0;
    border: none;
}
@media only screen and (min-width: 768px) {
    .InfoSection{
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .InfoSection{
        padding-bottom: 20px;
    }
}









/* ---- About me ---- */
.AboutMe {
    background-color: var(--background-vivid);
}
@media only screen and (min-width: 768px) {
    .AboutMe{
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .AboutMe img {
        border-radius: 50%;
        max-width: 250px;
    }
    .AboutMe p {
        margin-left: 10px; 
    }
    .AboutMe .Col-2-3 {
        margin-left: 20px; 
    }
}
@media only screen and (max-width: 768px) {
    .AboutMe{
        text-align: center;
    }
    .AboutMe img {
        border-radius: 50%;
        max-width: 50%;
    }
}









/* ---- Projects section ----*/
.Portfolio #ProjectYear{
    color: var(--secondary-accent-color);
}


/* ---- Projects Tabs ---- */
.ProjectsTabs {
    text-align: center;
}
.ProjectsTabs li {
    display: inline;
    white-space: nowrap;
}
.ProjectsTabs li a {
    /*Basic button format*/
    padding: 1.2em 2em;
    line-height: 4em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    /*Disable selection*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    
    /*Border*/
    border-radius: 4px;
    /*border-style: solid;
    border-width: 1px;
    border-color: var(--text-color);
    */

    /*Selected state*/
    background-color:  var(--background-dark);
    color: var(--text-color);
    
    /*Transition to state*/
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    0} 
    /*Not hover and Not selected state*/
    .ProjectsTabs li a:not(.activeTab){ /*Not active tab*/
        background-color: transparent;
        color: var(--text-color);

        /*Transition to state*/
        transition-duration: 200ms;
        transition-timing-function: ease-in;
    }
    /*Hover and Not selected  state*/
    .ProjectsTabs li a:hover:not(.activeTab) {
        background-color: var(--forth-accent-color);
        color: var(--text-color);    

        /*Transition to state*/
        transition-duration: 200ms;
        transition-timing-function: ease-out;
    }






/* ---- Projects contents ---- */
.Portfolio{
    background-color: var(--background-clear);
}
@media only screen and (min-width: 768px) {
    .ProjectsTabsContents li{
        max-width: 80%;
    }
}

.ProjectsTabsContents li:not(.VisbleProject){
    opacity: 0;
    pointer-events: none;
    transition-duration: 75ms; /*Duration of fading*/
    transition-property: opacity;
    transition-timing-function: ease-in;
}
.ProjectsTabsContents li {
    opacity: 1;
    transition-duration: 200ms; /*Duration of fading*/
    transition-property: opacity;
    transition-timing-function: ease-out;

    /*horizontally center the project*/
    left: 0;
    right: 0;
    margin: auto;

    /*Center the image*/
    text-align: center;
    
    padding-top: 20px;
}



.ProjectsTabsContents li img {
    max-width: 90%;
    max-height: 400px;
    border-radius: 15px;
    /*background-color: transparent;
    transition-duration: 200ms;
    scale: 1;*/
}

.fullscreen-img {
    transition: transform 150ms ease-in, filter 250ms ease-in, -webkit-filter 250ms ease-in, background-color 250ms ease-in;
    transform: scale(1);
}

.fullscreen-img:hover {
    transform: scale(1.07);
    transition: transform 100ms ease-out, filter 250ms ease-out, -webkit-filter 250ms ease-out;
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px var(--background-dark));
    filter: drop-shadow(5px 5px 5px var(--background-dark));
}

.fullscreen-active {
    background-color: green;
    transition: scale 100ms ease-out, background-color 250ms ease-out;
    scale: 2;
}


.SkillSet {
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Skill {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    background-color: var(--background-dark);
}




.ProjectsTabsContents {
    display: flex;
    /*align-items: center;*/
}

.projectLinksSection {
  padding-left: 22px;
  display: flex;
}

.projectLink {
    max-width: 2.3em;
    padding: 3px;

    margin-top: 0px;
    margin-bottom: 0px;

    transition-duration: 200ms; /*Duration of fading*/
    transition-timing-function: ease-out;
}

.projectLink:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    
    transition-duration: 200ms; /*Duration of fading*/
    transition-timing-function: ease-out;
}







/* ----- Triunity Studios ----- */
.AboutTriunityStudios {
    background-color: var(--background-dark);
}
@media only screen and (min-width: 768px) {
    .AboutTriunityStudios{
        padding-left: 17%;
        padding-right: 15%;
        position:static;
    }
    .AboutTriunityStudios p {
        margin-left: 10px; 
    }
    .AboutTriunityStudios .Col-2-3 {
        margin-right: 20px; 
    }
}
@media only screen and (max-width: 768px) {
    .AboutTriunityStudios{
        text-align: center;
    }
    .AboutTriunityStudios img {
        max-width: 50%;
    }
}










/* ---- Contact ----*/
.Contact {
    background-color: var(--background-vivid);
}
@media only screen and (max-width: 768px) {    
    .Contact .Columns {
        width: 100%;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
        overflow: hidden;
        font-size: 0.9em;
    }
    
    .Contact .Columns img {
        width: 40%;
        text-align: center;
    }

    .Contact .Col-1-4:nth-child(1), .Contact .Col-1-4:nth-child(3) {
        float: left;
        width: 50%;
    }
    
    .Contact .Col-1-4:nth-child(2), .Contact .Col-1-4:nth-child(4) {
        float: right;
        width: 50%;
    }

}
@media only screen and (min-width: 1200px) {    
    .Contact {
        padding-left: 20%;
        padding-right: 20%;
        margin: auto;
    }
}
@media only screen and (max-width: 1200px) {    
    .Contact {
        padding-left: 10%;
        padding-right: 10%;
        margin: auto;
    }
}

.Contact a {
    color: var(--text-color);
}

.Contact .Col-1-4 .Columns:hover{
    margin-top: -13px;
    margin-bottom: 13px;
    
    transition-duration: 200ms; /*Duration of fading*/
    transition-timing-function: ease-out;
}

.Contact .Col-1-4 .Columns {
    margin-top: 0px;
    margin-bottom: 0px;
    
    transition-duration: 200ms; /*Duration of fading*/
    transition-timing-function: ease-in;
}







#PresentationPlaceHolder {
    background-color: transparent;
    height: 100%;
}









/*Come in animation*/
.module {
    opacity: 0;
}

.come-in {
  transform: translateY(100px);
  opacity: 0;
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(1) {
  animation-duration: 0.6s; /* So they look staggered */
}
.come-in:nth-child(2) {
  animation-duration: 1.2s; /* So they look staggered */
}
.come-in:nth-child(3) {
  animation-duration: 1.8s; /* So they look staggered */
}
.come-in:nth-child(4) {
  animation-duration: 2.4s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); opacity: 1;}
}