div {
  border: 1px solid black;
  /* margin: 10px; */
  /* padding: 10px; */
}

/* ---- Introduction ---- */

/* Div iwth id introduction must have the same size as the screen */
#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  height: 100vh;
  width: 100vw;
  /* width: var(--w);
  height: var(--h); */
}

#introduction p,
#introduction h1 {
  animation: 1.5s ease 0s 1 SlideFromTop;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 5%;
  font-weight: 100;
}

#introduction b,
#introduction strong {
  color: var(--primary-accent-color);
}

.work {
  background-color: rgb(245, 252, 255);
}

#myWorkFilters button:not([selected]) {
  background-color: #fed;
}

#myWorkFilters button[selected] {
  background-color: rgb(52, 180, 52);
}

#myWorkFiltered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work {
  width: 30%;
}

.work img {
  width: 100%;
  height: auto;
}

#contactMethods {
  display: flex;
  justify-content: space-around;
}

.contactMethod img {
  width: 25px;
  height: auto;
}
