/* Div should have border of 1px solid black */

div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.work {
  background-color: rgb(245, 252, 255);
}

#myWorkFilters button {
  /* your desired styles here */
  color: #050;
  font: bold 84% "trebuchet ms", helvetica, sans-serif;
  background-color: #fed;
  border: 1px solid;
  border-color: #696 #363 #363 #696;
}

.selected {
  background-color: rgb(52, 180, 52);
}
