/* Div should have border of 1px solid black */

div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.work {
  background-color: rgb(245, 252, 255);
}

#myWorkFilters button:not([selected]) {
  background-color: #fed;
}

#myWorkFilters button[selected] {
  background-color: rgb(52, 180, 52);
}

#myWorkFiltered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work {
  width: 30%;
}

.work img {
  width: 100%;
  height: auto;
}

#contactMethods {
  display: flex;
  justify-content: space-around;
}

.contactMethod img {
  width: 25px;
  height: auto;
}
