/* General section container styles */
.sectionContainer {
  display: flex;
  flex-direction: column;
}

/* Flexbox for larger screens */
@media (min-width: 768px) {
  .sectionContainer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Ensure all elements inside sectionContainer share space equally */
  .sectionContainer > * {
    flex: 1; /* All children share space equally */
    max-width: 100%; /* Prevent any child from overflowing the container */
  }

  /* Limit the maximum width of the images to prevent them from taking too much space */
  .sectionImage {
    max-width: 50%;
  }
}
