/* General section container styles */
.sectionContainer {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

/* Section title always at the top */
/* .sectionTitle {
  text-align: center;
  margin-bottom: 10px;
} */

/* Image and text responsive layout for smaller screens */
/* .sectionImage,
.sectionContents {
  width: 100%;
} */

/* Flexbox for larger screens */
@media (min-width: 768px) {
  .sectionContainer {
    flex-direction: row; /* Aligns image and text side by side on larger screens */
    justify-content: space-evenly;
  }

  /* .sectionTitle {
    width: 100%;
    margin-bottom: 20px;
  } */

  /* Adjusts image and contents to take 50% width each */
  .sectionImage,
  .sectionContents {
    flex-basis: 50%;
    flex: 1 1 1;
  }

  /* Custom ordering based on data-attribute */
  /* .sectionContainer[data-order="image-first"] {
    flex-direction: row;
  }

  .sectionContainer[data-order="contents-first"] {
    flex-direction: row-reverse;
  } */
}
