.sectionContainer {
  display: flex;
  flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}

/* For small screens */
@media (max-width: 768px) {
  .sectionContainer img {
    max-width: 50%;
    margin: auto;
  }
}

/* For larger screens */
@media (min-width: 768px) {
  .sectionContainer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 70%;
  }

  /* Ensure all elements inside sectionContainer share space equally */
  .sectionContainer > * {
    flex: 1;
  }

  /* One child */
  .sectionContainer > *:first-child:nth-last-child(1) {
    max-width: 100%;
  }
  .sectionContainer > img:nth-child(n):first-child:nth-last-child(1) {
    max-width: 30%;
  }

  /* Two children */
  .sectionContainer > *:first-child:nth-last-child(2),
  .sectionContainer > *:first-child:nth-last-child(2) ~ * {
    max-width: 50%;
  }
  .sectionContainer > *:first-child:nth-last-child(2) ~ img,
  .sectionContainer > img:first-child:nth-last-child(2) {
    max-width: 15%;
  }

  /* Three children */
  .sectionContainer > *:first-child:nth-last-child(3),
  .sectionContainer > *:first-child:nth-last-child(3) ~ * {
    max-width: 33.333%;
  }
  .sectionContainer > *:first-child:nth-last-child(3) ~ img,
  .sectionContainer > img:first-child:nth-last-child(3) {
    max-width: 10%;
  }

  /* Four children */
  .sectionContainer > *:first-child:nth-last-child(4),
  .sectionContainer > *:first-child:nth-last-child(4) ~ * {
    max-width: 25%;
  }
  .sectionContainer > *:first-child:nth-last-child(4) ~ img,
  .sectionContainer > img:first-child:nth-last-child(4) {
    max-width: 7.5%;
  }

  /* Five children */
  .sectionContainer > *:first-child:nth-last-child(5),
  .sectionContainer > *:first-child:nth-last-child(5) ~ * {
    max-width: 20%;
  }
  .sectionContainer > *:first-child:nth-last-child(5) ~ img,
  .sectionContainer > img:first-child:nth-last-child(5) {
    max-width: 6%;
  }

  /* Six children */
  .sectionContainer > *:first-child:nth-last-child(6),
  .sectionContainer > *:first-child:nth-last-child(6) ~ * {
    max-width: 16.666%;
  }
  .sectionContainer > *:first-child:nth-last-child(6) ~ img,
  .sectionContainer > img:first-child:nth-last-child(6) {
    max-width: 5%;
  }

  /* Seven children */
  .sectionContainer > *:first-child:nth-last-child(7),
  .sectionContainer > *:first-child:nth-last-child(7) ~ * {
    max-width: 14.285%;
  }
  .sectionContainer > *:first-child:nth-last-child(7) ~ img,
  .sectionContainer > img:first-child:nth-last-child(7) {
    max-width: 4.285%;
  }

  /* Eight children */
  .sectionContainer > *:first-child:nth-last-child(8),
  .sectionContainer > *:first-child:nth-last-child(8) ~ * {
    max-width: 12.5%;
  }
  .sectionContainer > *:first-child:nth-last-child(8) ~ img,
  .sectionContainer > img:first-child:nth-last-child(8) {
    max-width: 3.75%;
  }

  /* Nine children */
  .sectionContainer > *:first-child:nth-last-child(9),
  .sectionContainer > *:first-child:nth-last-child(9) ~ * {
    max-width: 11.111%;
  }
  .sectionContainer > *:first-child:nth-last-child(9) ~ img,
  .sectionContainer > img:first-child:nth-last-child(9) {
    max-width: 3.333%;
  }

  /* Ten children */
  .sectionContainer > *:first-child:nth-last-child(10),
  .sectionContainer > *:first-child:nth-last-child(10) ~ * {
    max-width: 10%;
  }
  .sectionContainer > *:first-child:nth-last-child(10) ~ img,
  .sectionContainer > img:first-child:nth-last-child(10) {
    max-width: 3%;
  }
}
