#contact {
  background-color: var(--background-vivid);
  padding: 0.83em;
  padding-bottom: 1.66em;
}

#contactMethods {
  display: flex;
  justify-content: space-around;
}

.contactMethod img {
  width: 25px;
  height: auto;
}
