/** GENERAL **/

#myWorkTypes,
#myWorkSkills {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#myWorkFilters button {
  margin: 3px;
  border: none;
  cursor: pointer;

  /*Transition to states*/
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

/** TYPES **/

#myWorkTypes button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid transparent;
}

#myWorkTypes button:not([selected]) {
  background-color: var(--background-clear);
  border: 1px solid var(--background-dark);
}

#myWorkTypes button[selected] {
  background-color: var(--background-dark);
}

/** SKILLS **/

#myWorkSkills button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: 1px solid transparent;
}

#myWorkSkills button:not([selected]) {
  background-color: var(--background-vivid);
}

#myWorkSkills button[selected] {
  background-color: var(--background-dark);
}

/** (both) HOVER STYLE **/

#myWorkSkills button:hover:not([selected]),
#myWorkTypes button:hover:not([selected]) {
  background-color: var(--forth-accent-color);
  color: var(--text-color);
  border: 1px solid transparent;
}
