#myWorkFiltered {
  display: flex;
  flex-wrap: nowrap;
}

.myWorkColumn {
  flex: 1;
}

#myWork {
  background-color: var(--background-clear);
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1.66em;
  padding-bottom: 1.66em;
  margin: auto;
}

.work {
  margin: 10px;
  background-color: var(--background-dark);
  border-radius: 20px;
  overflow: hidden;
}

.work img {
  width: 100%; /* Force it to expand */
  height: auto;
}

.workSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 3%;
  padding-right: 3%;
}

.workSkills button {
  margin: 1%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2.3%;
  padding-right: 2.3%;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.workSkills button:not([selected]) {
  background-color: var(--background-clear);
}

.workSkills button[selected] {
  background-color: var(--background-vivid);
}
